<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454378413905-183c371fcppom91s5d3l97pu6kif1f0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454378413905-183c371fcppom91s5d3l97pu6kif1f0j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>454378413905-1lg0vuntgijb24vk8hl12pen01ufv5ns.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCReCSaFeeWK_yfJPcGTMkG82Mf2veaku0</string>
	<key>GCM_SENDER_ID</key>
	<string>454378413905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.highlands.highlandia</string>
	<key>PROJECT_ID</key>
	<string>highlandia-a7ed1</string>
	<key>STORAGE_BUCKET</key>
	<string>highlandia-a7ed1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454378413905:ios:135a178bb2b99887a73d70</string>
</dict>
</plist>